ray[rllib]
gymnasium[accept-rom-license,atari]==1.0.0
matplotlib
imitation
stable-baselines3
shimmy
dill
pyqtgraph
pyqt5
ale_py
beautifulsoup4
tqdm
gymnasium
psutil
seaborn
imgkit
torchstat
torchinfo
scikit-learn
accelerate
pygame
py-spy
snakeviz
requests_toolbelt
torchmetrics
df2img==0.2.11
py-ext @ https://raw.githubusercontent.com/lhiqwj173/dl_helper/master/py_ext-1.0.0.tar.gz